<div id="dialog" class="sheet content">
	<i class="close h-icon-close"
   	   role="button"
       title="Close"
       ng-click="groupDialog.visible = false; showLink = false;"></i>
    <div class="form-vertical tabbable">
	    <div class="form tab-pane" data-title="New group">
		    <div ng-hide="showLink">
		        <div class="form-field">
			        <p class="form-description">Create a new group and annotate collaboratively. Take the generated name or give it your own:</p>
			        <input id="nameGroup"
							class="form-input"
							type="text"
							ng-model="groupName"></input>
		       	</div>
		       	<div class="form-actions">
			   		<div class="form-actions-buttons">
			   			<button class="btn btn-primary" ng-click="newgroup()">Create Group</button>		
			   		</div>
			    </div>
			</div>

			<!-- Get the link -->
	        <div class="form-field" ng-show="showLink">
		        <p class="form-description">The link to your group is below, share it with anyone you would like to annotate this page with:</p>
		        <input id="copyLink"
						class="form-input"
						type="text"
						ng-value="groupLink"f></input>
		       	<div class="form-actions">
			   		<div class="form-actions-message">
			   			<p><a href="mailto:?subject=Annotate this&body=http://...">Share via email</a></p>
			   		</div>
			    </div>
			</div>
		</div>
	</div>
</div>
