@import "mixins/icons";

//ANNOTATION////////////////////////////////
//This is for everything that is formatted as an annotation.
.annotation {
  font-family: $sans-font-family;
  font-weight: 300;
  position: relative;

  .reply-count {
    color: $gray-light;
    &:focus { outline: 0; }
  }

  &:hover .annotation-timestamp, &:hover .reply-count  {
    color: $link-color;
  }
}

.annotation-timestamp {
  line-height: 2;
  color: $text-color;
  &:hover { color: $link-color-hover; }
  &:focus { outline: 0; }
}

.annotation-section,
.annotation-header,
.annotation-footer {
  @include pie-clearfix;
  margin: .8em 0;
}

.annotation-header { margin-top: 0 }
.annotation-footer { margin-bottom: 0 }

.annotation-user {
  color: $text-color;
  font-weight: bold;
  font-size: 1.1em;
  &:hover {
    color: $link-color-hover;
    cursor: pointer;
    text-decoration: underline;
  }
}

.annotation-replies {
  display: inline-block;
}

.annotation-actions {
  float: right;
  margin-top: 0;

  button {
    color: $gray-light;
    .annotation:hover & {
      color: $link-color;
    }
  }
}

.annotation-quote {
  @include quote;
  del {
    background:#ffe6e6;
  }
  ins {
    background:#e6ffe6;
  }
}

.annotation-citation-domain {
  color: $gray-light;
  font-size: .923em;
}

.annotation-license {
  clear: both;
  border-top: #cccccc 1px solid;
  font-size: 0.9em;
  padding-top: 0.583em;

  a {
    color: $gray-light;
    display: block;
  }

  @include icons {
    font-size: 16px;
    vertical-align: -3px;
    margin-right: 1px;
  }
}

.show-differences {
  border-left: 3px solid #D3D3D3;
  padding: 0.3em 0.615em;
}


//PRIVACY CONTROL////////////////////////////
privacy {
  position: relative;
  top: 2px;
}
